# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#关闭binlog日志
skip-log-bin
#不区分大小写
lower_case_table_names = 1
# Custom config should go here
#主从配置-需要时开启
#server_id = 1
#log-bin = rainsty
#binlog_ignore_db = mysql
#binlog_ignore_db = sys
#binlog_ignore_db = information_schema
#binlog_ignore_db = performance_schema
#binlog-do-db = dcinfo
#二进制文件天数（秒）
#binlog_expire_logs_seconds = 259200
#二进制文件天数（天）（秒和天不可同时使用）
#expire_logs_days = 3

#每120秒释放一次sleep状态的进程
wait_timeout=120
interactive_timeout=120

slow_query_log =1
slow_query_log_file= mysql-slow.log
long_query_time=30
max_connections = 300
tmp_table_size = 2048M
max_heap_table_size = 512M
innodb_buffer_pool_size = 2G
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

!includedir /etc/mysql/conf.d/
